body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #564985;
    font-size: 20px;
}

#app{
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    justify-items: center;
    grid-template-areas: "headline headline"
                         "zip zip"
                         "country country"
                         "feel feel"
                         "button button"
                         "entry entry";
    height: 100vh;
    color: #f0d43a;
    grid-gap: 1em;
    font-family: 'Oswald', sans-serif;
}

.holder{

}

.zip {
    grid-area: zip;
}

.country {
    grid-area: country;
}

.feel {
    grid-area: feel;
}

.entry{
    min-width: 500px;
    background: rgba(59, 74, 107, .4);
    margin-bottom: 20px;
    grid-area: entry;
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    margin: 60px 0;
    font-size: 27px;
}

.title{
    margin-bottom: 20px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

input{
    display: block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 200px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    grid-area: button;
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 